#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.location-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.rounded-img {
  border-radius: 10px;
}

.p-organizationchart-node-content {
  border-radius: 8px;
}

.p-icon.p-node-toggler-icon {
  color: black;
}

.node-container {
  padding: 8px;
}

.node-container:hover {
  cursor: pointer;
}

.node-content {
  text-align: center;
}

.node-position {
  display: block;
  font-size: 12px;
}
